.auth-dialog {

    .input-container {
        margin-right: 15px;
        margin-left: 15px;
    }
    .buttons {
        padding-top: 15px;
        padding-bottom: 15px;
        position: relative;
        float: right;
    }
    .error {
        color: red;
        padding-top: 15px;
    }
}
