// @import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');
* {
    font-family: "PT Sans", Helvetica, Arial, sans-serif;
    font-size: 16px;
    text-decoration-line: none;
    text-decoration-style: solid;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

button:focus {
    outline: 0;
}

body {
    margin: 0;
    background-color: rgb(245, 245, 245);
}

.Shop {
    width: 100%;
    
    margin: auto;
    font-family: "Roboto";
    color: #2e3a4edc;

}

