.loading {
    width: 500px;
    height: 500px;
}
.products-page {
    background-color: #e7e7e7;
    padding-left: 40px;
    padding-right: 40px;
    .products-page-title {
        padding: 15px 0 15px 0;
        font-size: 16px;
        color: black;
        margin: 5px;
        display: grid;
    }
    .products-page-content {
        width: 100%;
        justify-content: space-between;
        display: flex;
        
    }
    .products-list {
        width: 100%;
    }
}
