.homepage-container {
    max-width: 1300px;
    padding-left: 20px;
    padding-right: 20px;

    .homepage-grid {
        margin-left: 20px;
        justify-content: space-between;
        display: flex;

        .MuiList-root {
            padding-right: 20px;
            max-width: 350px;
            margin-left: 20px;
        }

        .products-wrap {
            margin-top: 10px;
            margin-bottom: 10px;
            max-width: calc(100%-300px);
            margin-left: 20px;
            display: block;
            

            .products-top-wrap {
                display: flex;
                margin-bottom: 20px;

                .products-banner {
                    border-bottom-left-radius: 8px;
                    max-width: 580px;
                }
                .products-actions {
                    margin-left: 20px;
                    max-width: calc(100%-600px);
                }
            }

            .homepage-top-shops {
                display: none;
            }
        }
    }
}

@media (max-width: 991px) {
    .MuiList-root {
        display: none;
    }
}



@media (max-width: 991px) {
    .MuiList-root {
        display: none;
    }
    .homepage-top-shops {
        display: flex;
    }
}
