.admin-page.catalog {
    width: 1100px;
    height: 500px;
    padding: 1rem;
    .parent-name {
        color: rgb(105, 105, 105);
        font-size: 15px;
        font-weight: bold;
    }
    .checkboxes {
        display: flex;
        flex-direction: inherit;
    }
    table {
        table-layout: fixed;
        width: 100%;
        border-collapse: collapse;
        border: 2px solid purple;
        .tablehead-top {
            background-color:rgb(142, 245, 142);
        }
        th {
            &:nth-child(1) {
                width: 10%;
            }
            &:nth-child(2) {
                width: 10%;
            }
            &:nth-child(3) {
                width: 10%;
            }
            &:nth-child(4) {
                width: 35%;
            }
            &:nth-child(5) {
                width: 10%;
            }
            &:nth-child(6) {
                width: 10%;
            }
            &:nth-child(7) {
                width: 40%;
            }
        }
        td {
            &:nth-child(1) {
                height: 50%;
            }
        }
    }
}
