.product-card {
    height: 250px;
    margin: 5px;
    display: grid;
    grid-template-columns: 200px minmax(0, 1fr) 200px;
    padding: 30px;

    .img-container {
        width: 200px;
        height: 200px;
        vertical-align: middle;
        text-align: center;

        img {
            width: 120px;
            height: 100%;
            object-fit: contain;
        }
    }
    .product-card-body {
        display: flex;
        .card-body-container {
            margin-top: auto;
            margin-bottom: auto;
        }
    }
    .product-card-buy {
        display: flex;
        text-align: center;
        .card-buy-container {
            margin-top: auto;
            margin-bottom: auto;
            .price {
                font-size: 1.5rem;
            }
            button {
                margin-top: 50px;
            }
        }
    }
}
