.navbar {
    padding-top: 5px;
    padding-bottom: 5px;
    .nav-link {
        color: black;
        font-size: 0.8rem;
        &:hover {
            color: rgb(252, 133, 7);
        }
    }
}
.nav-link:not(:last-of-type)::after {
    content: "->";
}
