.submenu {
    padding: 0;
    margin: 0;
    min-height: 500px;
    min-width: 500px;
    max-width: max-content;
    max-height: max-content;
    position: absolute;
    border-radius: 5px;
    padding-left: 20px;
    padding-top: 10px;
    position: fixed;
    z-index: 1000;

    .content-menu {
        display: flex;
        flex-wrap: wrap;
        justify-content: baseline;

        .menu-level-container {
            padding: 8px;
            margin: 8px;
        }
    }
    li {
        list-style-type: none;
    }
}
