.submenu {
    padding: 0;
    margin: 0;
    max-width: max-content;
    max-height: max-content;
    position: absolute;
    left: 323px;
    top: 110px;
    border-radius: 5px;
    padding-left: 20px;
    padding-top: 10px;

    &.show {
        display: block;
    }
    &.hide {
        display: none;
    }
    .content-menu {
        display: flex;
        flex-wrap: wrap;
        justify-content: baseline;

        .menu-level-container {
            padding: 8px;
            margin: 8px;
        }
    }
    li {
        list-style-type: none;
    }
}
