.menu-wrap {
    max-width: 400px;
    width: 300px;

    .MuiList-root {     
        background-color: white;
        width: 280px;
        padding: 0;
        margin: 0;
        padding-top: 20px;


        .MuiListItem-root {
            width: 100%;
            padding: 0;
            margin: 0;

            .MuiListItemText-root {
                padding: 0;
            }
        }
    }
}

