.card-submenu {
    left: -1000px;
    position: fixed;
    padding: 0;
    margin: 0;
    width: 330px;
    height: max-content;
    border-radius: 5px;
    padding: 32px;
    z-index: 10;
    background-color: white;
    display: none;

    &.show {
        display: block;
    }

    .card-item {
        &:hover {
            cursor: pointer;
            color: rgb(252, 133, 7);
            font-size: 30px;
        }
    }
}
