.homepage-container {
    min-width: 1080px;
    // padding-right: 20px;
    .homepage-top-container {
        display: flex;
        justify-content: space-between;
        background-color: white;
        .homepage-menu {
            margin-left: 20px;
        }
        .homepage-body {
            width: 100%;
            height: max-content;
            padding: 15px;

            .actions {
                padding-left: 0;
                width: 580px;
                height: 200px;
            }

            .middle-container {
                height: 150px;
                width: 700px;
            }
        }
        .slider-image {
            cursor: pointer;
        }
    }
    .homepage-bottom-container {
    }
}

.item-carousel {
    width: 100px;
    height: 100px;
    background-color: grey;
}
