.homepage-container {
    padding-left: 20px;
    display: flex;
    min-width: 1080px;
    justify-content: space-between;
    // padding-right: 20px;

    .homepage-menu {
        margin-left: 20px;
    }
    .homepage-body {
        
    }
}