.admin-drawer {
    display: block;
    position: absolute;
    height: 100vh;
    .MuiDrawer-docked {
        height: 100%;
    }
    .admin-menu {
        width: 150px;
    }
    .MuiPaper-elevation0 {
        margin-top: 100px;
        z-index: 100;
        .MuiListItem-button {
            margin-top: 10px;
        }
    }
}
