.admin-drawer-container {
    display: block;
    position: absolute;
    height: 100vh;
    .admin-drawer-component {
        position: sticky;
        top: 0;
    }
    .MuiDrawer-docked {
        height: 100%;
    }
    .admin-menu {
        width: 150px;
    }
    .MuiPaper-elevation0 {
       position: sticky;
       top: 100px;
        z-index: 100;
        .MuiListItem-button {
            margin-top: 10px;
        }
    }
}
